<% provide(:title, "About") %>

<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Who We Are</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam officia ad ullam adipisci commodi ratione iure nobis. Ab aperiam voluptatibus, dolore id, nesciunt laudantium incidunt molestias laboriosam distinctio ipsum, recusandae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolore impedit, pariatur modi error natus voluptates? Debitis, consectetur nulla cum. Maxime facilis fugiat nisi delectus possimus quidem, molestiae quasi eius.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id architecto molestias explicabo porro, officia cum repellendus, alias quos, temporibus quas assumenda minima, iure illum cupiditate inventore dolore aspernatur voluptatum nemo.</p>
			</div>
			<div class="col-md-4">
				<%= image_tag "about_bg.png", :id => "students_bg" %>
			</div>
		</div>
	</div>
</section>

<section id="about_video">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<iframe id="college_video" width="560" height="315" src="https://www.youtube.com/embed/8SLYI6n21aE" frameborder="0" allowfullscreen></iframe>
			</div>
				<div class="col-md-6">
					<h2>Checkout What One of Our Students Say!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fugit fugiat nostrum, doloremque expedita quam suscipit recusandae numquam odio accusantium quisquam non, odit ullam quidem doloribus repudiandae quaerat voluptates maxime.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi voluptas debitis, placeat recusandae illum fuga at accusamus. Neque debitis a repellendus numquam, ad exercitationem fuga necessitatibus facilis aut veniam.</p>
				</div>
		</div>
	</div>
</section>