<% provide(:title, "Course") %>

<section class="content">
	<div class="course_header">
		<h1>Our Courses</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
	</div>
	
	<div class="course_list">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h2>Diploma Courses</h2>
					<ul>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "music.jpg" %>
									</figure>
									<h3>
											<strong>Music</strong> Diploma
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "arts.jpg" %>
									</figure>
									<h3>
											<strong>Arts</strong> Diploma
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "litterature.jpg" %>
									</figure>
									<h3>
											<strong>Litterature</strong> Diploma
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "science.jpg" %>
									</figure>
									<h3>
											<strong>Science</strong> Diploma
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "math.jpg" %>
									</figure>
									<h3>
											<strong>Mathematics</strong> Diploma
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									View all diploma courses
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>Graduate Courses</h2>
					<ul>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "graduate_5.jpg" %>
									</figure>
									<h3>
											<strong>Architecture</strong> Graduate
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "graduate_4.jpg" %>
									</figure>
									<h3>
											<strong>Economics</strong> Graduate
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "graduate_3.jpg" %>
									</figure>
									<h3>
											<strong>Psychology</strong> Graduate
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "graduate_2.jpg" %>
									</figure>
									<h3>
											<strong>Biology</strong> Graduate
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "graduate_1.jpg" %>
									</figure>
									<h3>
											<strong>Engineering</strong> Graduate
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									View all graduate courses
								</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<h2>Master Courses</h2>
					<ul>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "master_3.jpg" %>
									</figure>
									<h3>
											<strong>Sculpture</strong> Master
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "master_2.jpg" %>
									</figure>
									<h3>
											<strong>Digital media</strong> Master
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									<figure>
										<%= image_tag "master_1.jpg" %>
									</figure>
									<h3>
											<strong>Information technology</strong> Master
									</h3>
									<small>Start 28 Jan, 2016</small>
								</a>
							</div>
						</li>
						<li class="hvr-fade">
							<div>
								<a href="#">
									View all master courses
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>