<% provide(:title, "Home") %>

<!-- Header -->
<section class="block">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class=""></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class="active"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item">
			<%= image_tag "slides/slide_1.jpg" %>
			<div class="container">
				<div class="carousel-caption">
					<h1>GTC Excellence in Teaching</h1>
					<p>Guiding you all throughout your way to success!</p>
					<p><%= link_to "Register Today", pages_register_path, class: "btn btn-lg btn-primary" %></p>
				</div>
			</div>
		</div>
		<div class="item">
			<%= image_tag "slides/slide_2.jpg" %>
			<div class="container">
				<div class="carousel-caption">
					<h1>Competent Teachers</h1>
					<p>Qualified instructors that provides knowledge and skills.</p>
					<p><%= link_to "Learn More", pages_about_path, class: "btn btn-lg btn-primary" %></p>
				</div>
			</div>
		</div>
		<div class="item active">
			<%= image_tag "slides/slide_3.jpg" %>
			<div class="container">
				<div class="carousel-caption">
					<h1>Great Students Community</h1>
					<p>A friendly environment that welcomes you.</p>
					<p><%= link_to "Contact Us", pages_contact_path, class: "btn btn-lg btn-primary" %></p>
				</div>
			</div>
		</div>
	</div> <!-- End Header -->



	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</section>

<!-- Home Feature 1 -->
<div class="container_gray_bg" id="home_feature_1">
	<div class="container">
		<div class="row">
			<div class="col-md-4" id="columnid1">
				<div class="home_feat_1_box">
					<%= link_to image_tag("home_feat_1_1.jpg", :class => "hvr-float" + " " + "feat_box"), pages_contact_path %>
						<div class="short_info">
							<h3>PLAN A VISIT</h3>
						</div>
				</div>
			</div>
			<div class="col-md-4" id="columnid2">
				<div class="home_feat_1_box">
					<%= link_to image_tag("home_feat_1_2.jpg", :class => "hvr-float" + " " + "feat_box"), pages_course_path %>
						<div class="short_info">
							<h3>STUDY PROGRAMS</h3>
						</div>
				</div>
			</div>
			<div class="col-md-4" id="columnid3">
				<div class="home_feat_1_box">
					<%= link_to image_tag("home_feat_1_3.jpg", :class => "hvr-float" + " " + "feat_box"), pages_register_path %>
						<div class="short_info">
							<h3>ADMISSIONS</h3>
						</div>
				</div>
			</div>
		</div>
	</div> 
</div><!-- End Home Feature -->

<!-- Home Feature 2 -->
<div class="container margin100">
	<div class="main_title">
		<h2 class="text-center">Why Enrol at GTC?</h2>
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis alias distinctio temporibus hic quos saepe facilis quo voluptates deserunt magnam velit, provident exercitationem laborum neque! Temporibus, commodi quaerat fugit totam?</p>
	</div>

		<div class="row">
			<div class="col-md-6" id="columnid4">
				<div class="box_feat_home">
					<i class="glyphicon glyphicon-road"></i>
					<h3>Road to Success</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, voluptatum distinctio vero quibusdam, quas accusamus cumque, deleniti ex quo quasi velit quaerat. Similique hic, laborum illo vero voluptatibus eius?</p>
				</div>
				<div class="box_feat_home">
					<i class="glyphicon glyphicon-ok"></i>
					<h3>Advanced Practice</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, voluptatum distinctio vero quibusdam, quas accusamus cumque, deleniti ex quo quasi velit quaerat. Similique hic, laborum illo vero voluptatibus eius?</p>
				</div>
				<div class="box_feat_home">
					<i class="glyphicon glyphicon-star"></i>
					<h3>Learning Best Practice</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, voluptatum distinctio vero quibusdam, quas accusamus cumque, deleniti ex quo quasi velit quaerat. Similique hic, laborum illo vero voluptatibus eius?</p>
				</div>
			</div>
			<div class="col-md-6" id="columnid5">
				<div class="box_feat_home">
					<i class="glyphicon glyphicon-book"></i>
					<h3>Resources</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, voluptatum distinctio vero quibusdam, quas accusamus cumque, deleniti ex quo quasi velit quaerat. Similique hic, laborum illo vero voluptatibus eius?</p>
				</div>
				<div class="box_feat_home">
					<i class="glyphicon glyphicon-search"></i>
					<h3>Research</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, voluptatum distinctio vero quibusdam, quas accusamus cumque, deleniti ex quo quasi velit quaerat. Similique hic, laborum illo vero voluptatibus eius?</p>
				</div>
				<div class="box_feat_home">
					<i class="glyphicon glyphicon-usd"></i>
					<h3>Work and Study</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit neque, voluptatum distinctio vero quibusdam, quas accusamus cumque, deleniti ex quo quasi velit quaerat. Similique hic, laborum illo vero voluptatibus eius?</p>
				</div>
			</div>
		</div>
</div> <!--End Home Feat 2 -->

<!--Contact-->
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div id="contact-form" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Come Visit Us!</legend>
            <address>
                <strong>Galaxy Technical College</strong><br>
                510/451, Pitt Street<br>
                Sydney, NSW 2000<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
            <address>
                <strong>email</strong><br>
                <a href="mailto:#">info@galaxytech.com.au</a>
            </address>
            </form>
        </div>
    </div>
</div> <!-- End Contact Form -->