<% provide(:title, "Login") %>

<div class="container-fluid" id="login">
	<form class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="inputEmail" class="sr-only"></label>
		<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required data-validation-required-message="please enter a valid email address" autofocus> <br>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required data-validation-required-message="please enter your password">

		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me">Rember me
			</label>
		</div>

		<button class="btn btn-primary btn-lg btn-block" type="submit">Sign-in</button>
	</form>
</div>