<% provide(:title, "Register") %>

 <div  class="form">
    		<form id="contactform"> 
    			<p class="contact"><label for="name">Name</label></p> 
    			<input id="name" name="name" placeholder="First and last name" required="" tabindex="1" type="text"> 
    			 
    			<p class="contact"><label for="email">Email</label></p> 
    			<input id="email" name="email" placeholder="example@domain.com" required="" type="email"> 
                
                <p class="contact"><label for="username">Create a username</label></p> 
    			<input id="username" name="username" placeholder="username" required="" tabindex="2" type="text"> 
    			 
                <p class="contact"><label for="password">Create a password</label></p> 
    			<input type="password" id="password" name="password" required=""> 
                <p class="contact"><label for="repassword">Confirm your password</label></p> 
    			<input type="password" id="repassword" name="repassword" required=""> 
        
               <fieldset>
                 <label>Select a course</label> <br>
                  <label class="course_menu"> 
                  <select class="selectpicker" name="course_select">
                  <option value="">Course</option>
                  <option value="01">Music Diploma</option>
                  <option value="02">Arts Diploma</option>
                  <option value="03" >Litterature Diploma</option>
                  <option value="04">Science Diploma</option>
                  <option value="05">Mathematics Diploma</option>
                  <option value="06">Architecture Graduate</option>
                  <option value="07">Economics Graduate</option>
                  <option value="08">Psychology Graduate</option>
                  <option value="09">Biology Graduate</option>
                  <option value="10">Engineering Graduate</option>
                  <option value="11">Sculpture Master</option>
                  <option value="12" >Digital Media Master</option>
                  <option value="13" >Information Technology Master</option>
                  </label>
                 </select>    
              </fieldset> <br>
  
            <select class="selectpicker" name="gender">
            <option value="select">Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="others">Other</option>
            </select><br><br>
            
            <p class="contact"><label for="phone">Mobile phone</label></p> 
            <input id="phone" name="phone" placeholder="phone number" required="" type="text"> <br>
            <input class="buttom" name="submit" id="submit" tabindex="5" value="Register" type="submit"> 	 
   </form> 
</div>   