/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import 'hover';


// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

textarea {
	resize: vertical;
}

/*NAVBAR*/

$primary-color: #3498db;
$text-color: #fff;
$text-hover: #f1c40f;

.navbar-default {
	background-color: rgba(52, 152, 219,1.0);
	border-color: transparent;
	min-height: 70px;
	padding-top: 30px;
}

.navbar-default .navbar-brand {
	position: absolute;
	top: -20px;
	color: $text-color;
	font-size: 2.5em;
	font-family: 'Ubuntu', sans-serif;
	line-height: inherit;
	
}

.navbar-default .navbar-header a:hover {
	color: $text-color;
}



.navbar-default .navbar-nav li a {
	font-size: 1.2em;
	color: $text-color;
	font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav li a:hover {
	color: $text-hover;
}
.navbar-default .navbar-nav li a:active{
	color: white;
}


/*CAROUSEL*/

.carousel {
	margin-bottom: 40px;
	padding-top: 80px;
}

.carousel-caption {
	font-family: 'Roboto', sans-serif;
}

/* Home Feature 1 */

.container_gray_bg {
	background-color: rgba(236, 240, 241, .7);
	margin-bottom: 60px;
}

#home_feat_1 {
    position: relative;
    margin-bottom: 60px;
}

.home_feat_1_box {
	overflow: hidden;
	bottom: -28px;
	position: relative;
	height: 280;
}

.feat_box {
	max-width: 100%;
	display: block;
}

.short_info {
	height: auto;
}

.short_info h3 {
	position: relative;
	bottom: 50px;
	text-transform: uppercase;
	font-size: 2em;
	color: white;
	background-color: rgba(149, 165, 166,.8);
	text-align: center;
	font-family: 'Roboto', sans-serif;
}


/* Home Feature 2 */

.margin100 {
	margin-top: 100px;
	margin-bottom:80px;
}

.main_title {
	margin-bottom: 50px;
	font-family: 'Ubuntu', sans-serif;
	h2 {
		font-size: 2.4em;
		margin-top:0;
	}
	p {
		font-size: 1.2em;
	}
}

.box_feat_home {
	padding-left: 80px;
	position: relative;
	i {
		position: absolute;
		left: 0;
		top: 40px;
		font-size: 60px;
		color: rgba(41, 128, 185,0.9);
	}

	h3 {
		font-size: 1.6em;
		font-weight: bold;
	}
	p {
		font-size: 1.2em;
		text-align: justify;
		width: 90%;
	}
}


/*CONTACT*/
.jumbotron {
background: #ecf0f1;
color: gray;
border-radius: 0px;
}
.jumbotron-sm { 
padding-top: 100px;
padding-bottom: 24px; }
.jumbotron small {
color: #bdc3c7;
}
.h1 small {
font-size: 24px;
}

#contact-form {
	padding-top: 50px;
	padding-bottom: 30px;
}

/* Footer */

footer {
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	background-color: rgba(236, 240, 241,.7);
#copyright {
	margin-top: 12px;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}

.quick-links {
	margin-top: 12px;
	a{
		text-decoration: none;
		background-color: transparent;
	}
}
}



