/* About Page */

#about {
	position: relative;
	width: 100%;
	padding-top: 150px;

	h1 {
		font-weight: 600;
		font-size: 4em;
	}

	p {
		font-size: 1.4em;
	}
}

#students_bg {
	max-width: 100%;
	height: auto;
}

#about_video {
	margin: 50px 0 50px 0;
	iframe {
		margin-top: 50px;
		margin-bottom: 20px;
		display: block;
		margin: auto;
	}

	h2 {
		padding: 20px 0 20px 0;
		color: black;
		text-align: center;
	}

	p {
		font-size: 1.2em;
	}
}


/* Courses Page */

section.content {
	padding-top: 120px;
	background: linear-gradient(rgba(52, 152, 219,.01), rgba(52, 152, 219,.4));
	padding-bottom: 50px;
}

.course_header {
	font-family: 'Roboto', sans-serif;
	text-align: center;

	h1 {
		font-weight: 600;
		font-size: 3em;
		color: #7F8C89;
	}
	p {
		text-align: center;
		font-size: 1.2em;
		color: #a3b1b2;
	}
}

.course_list {
	position: relative;
	top: -40px;

	h2 {
		color: gray;
		font-weight: 300;
		font-size: 1.4em;
		padding-left: 50px;
		text-transform: uppercase;
	}

	h3 {
		margin-bottom: 5px;
	}

	ul {
		list-style: none;
		width: 100%;
	}

	li {
		position: relative;
    padding: 15px 5px 10px 70px;
    min-height: 65px;
    width: 100%;
    border-bottom: 1px solid #ededed;
	}

	a {
		text-decoration: none;
		outline: none;
		color: gray;
	}

	a:hover {
		text-decoration: none;
		color: gray;
	}


	figure {
		width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 18px;
		border-radius: 5px;
	}
	img {
		height: 100%;
		border: 1px;
	}

	.hvr-fade:hover {
		background-color: #ecf0f1;
	}
}

/* Registration Page */


.form{
	background: radial-gradient(circle, white, rgba(52, 152, 219,.2));
	margin:0 auto; 
	padding-left: 50px; 
	padding-right: 50px;
	padding-top: 130px;
	padding-bottom: 50px;
}
#contactform {
	width: 50%;
	margin: 0 auto;
	padding: 0 30px 0 30px;
}
.form fieldset{border:1px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}
.form input[type="text"] { width: 95%; }
.form input[type="email"] { width: 95%; }
.form input[type="password"] { width: 95%; }
.form input.birthday{width:60px;}
.form input.birthyear{width:120px;}
.form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
.form label.month {width: 135px;}
.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(127, 140, 141,0.3); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.form .gender {
  width: 200px;
  }
.form input.buttom{ background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.form input.buttom:hover	{ background-color: #2a78f6; }

.filter-option {
	font-size: 13px;
	padding-top: 1px;
}

/* Login Page */

#login {
	padding-top: 130px;
	padding-bottom: 500px;
	background: radial-gradient(circle, white, rgba(127, 140, 141,.3));
}

.form-signin {
	width: 450px;
	margin: 0 auto;

	h2 {
		padding-bottom: 15px;
		text-align: center;
	}
}