<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4" id="copyright">
				<span>Copyright © Galaxy Technical College 2016</span>
			</div>
			<div class="col-md-4">
				<ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>	
			</div>
			<div class="col-md-4">
				<ul class="list-inline quick-links">
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Use</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>