<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top scrolled" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Galaxy Technical College</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="collapse navbar-collapse" id=".navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- issue `rake routes` command in terminal to get the routes info -->
                            <li class="hvr-pop"><%= link_to "Home", root_path %></li>
                            <li class="hvr-pop"><%= link_to "About", pages_about_path %></li>
                            <li class="hvr-pop"><%= link_to "Course", pages_course_path %></li>
                            <li class="hvr-pop"><%= link_to "Contact", pages_contact_path %></li>
                            <li class="hvr-pop"><%= link_to "Register", pages_register_path %></li>
                            <li class="hvr-pop"><%= link_to "Login", pages_login_path %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            
            <!-- Collect the nav links, forms, and other content for toggling -->
       
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
